<h1>Employee Groups</h1>
<div class="simple-bar-chart">
  
  <div class="item" style="--clr: #5EB344; --val: 10">
    <div class="label">Board of Director</div>
    <div class="value">10%</div>
  </div>
  
  <div class="item" style="--clr: #FCB72A; --val: 10">
    <div class="label">Manager</div>
    <div class="value">10%</div>
  </div>
  
  <div class="item" style="--clr: #F8821A; --val: 40">
    <div class="label">Supervisor</div>
    <div class="value">30%</div>
  </div>
  
  <div class="item" style="--clr: #E0393E; --val: 40">
    <div class="label">Staff</div>
    <div class="value">50%</div>
  </div>
</div>
