.login-wrapper {
  background: #fafafa;
  width: 100%;
  height: 100vh;
  .third-login {
    position: relative;
    margin-top: 24px;
    border-top: 1px solid #e8e8e8;
    padding-top: 24px;
  }
  .layout-container {
    max-width: 1056px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    .layout-form {
      padding-top: 96px;
      width: 430px;
      margin: auto;
      .layout-form-main {
        background-color: #fff;
        padding: 40px 8px 48px;
        margin-bottom: 64px;
        border: 1px solid #e9e9e9;
        border-radius: 4px;
        .logo {
          max-width: 320px;
          margin: 0 auto;
          text-align: center;
          padding-bottom: 20px;
          font-size: 40px;
        }
        .content {
          max-width: 320px;
          margin: 0 auto;
          border-radius: 4px;
          font-size: 14px;
          text-align: center;
          .slogan {
            margin-bottom: 1rem;
            .slogan-main {
              margin-bottom: -1px;
              font-size: 32px;
              line-height: 1.2;
              color: #262626;
            }
            .slogan-subhead {
              margin-bottom: 30px;
              color: #595959;
              margin-top: 8px;
              font-size: 18px;
            }
          }
          .login-form {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            color: #595959;
            font-size: 14px;
            font-variant: tabular-nums;
            line-height: 1.5;
            list-style: none;
            -webkit-font-feature-settings: 'tnum';
            font-feature-settings: 'tnum';
          }
        }
      }
    }
  }
}
.btn-login-container {
  margin-top: 2rem;
}
.footer {
  background: #fafafa;
  padding-bottom: 60px;
  .footer-container {
    text-align: center;
    .slogan {
      border-bottom: 1px solid #e8e8e8;
      font-size: 14px;
      padding: 16px 0 6px;
      line-height: 22px;
      color: #595959;
      height: 45px;
      max-width: 470px;
      margin: 0 auto;
      svg {
        vertical-align: middle;
        margin-right: 12px;
        margin-bottom: 1px;
      }
    }
    .links {
      padding: 6px 0 16px;
      line-height: 22px;
      font-size: 14px;
      max-width: 470px;
      margin: 0 auto;
      a {
        display: inline-block;
        margin: 0 8px;
        color: #8c8c8c;
      }
    }
  }
}
