<div class="login-wrapper">
  <div class="layout-container">
    <div class="layout-form">
      <div class="layout-form-main">
        <div class="logo">
          <a href="/">
            <i nz-icon nzType="login" nzTheme="outline"></i>
          </a>
        </div>
        <div class="content">
          <div class="slogan">
            <h2 class="slogan-main">
              Employee Management
            </h2>
            <p class="slogan-subhead">
              This is the login page for the Employee Management Dashboard
            </p>
          </div>
          <form
            class="ant-form ant-form-horizontal"
            [formGroup]="loginForm"
            (ngSubmit)="submit()"
          >
            <div class="ant-row ant-form-item">
              <div class="ant-col ant-form-item-control-wrapper">
                <div class="ant-form-item-control">
                  <span class="ant-form-item-children">
                    <span
                      class="ant-input-affix-wrapper ant-input-affix-wrapper-lg"
                    >
                      <span class="ant-input-prefix">
                        <i
                          class="anticon anticon-lock"
                          nz-icon
                          nzType="user"
                          nzTheme="outline"
                        ></i>
                      </span>
                      <input
                        class="ant-input ant-input-lg"
                        type="text"
                        formControlName="username"
                        placeholder="Username"
                      />
                    </span>
                  </span>
                </div>
              </div>
            </div>
            <div class="ant-row ant-form-item">
              <div class="ant-col ant-form-item-control-wrapper">
                <div class="ant-form-item-control">
                  <span class="ant-form-item-children">
                    <span
                      class="login-password-input ant-input-affix-wrapper ant-input-affix-wrapper-lg"
                    >
                      <span class="ant-input-prefix">
                        <i class="anticon anticon-lock">
                          <svg
                            viewBox="64 64 896 896"
                            focusable="false"
                            class=""
                            data-icon="lock"
                            width="1em"
                            height="1em"
                            fill="currentColor"
                            aria-hidden="true"
                          >
                            <path
                              d="M832 464h-68V240c0-70.7-57.3-128-128-128H388c-70.7 0-128 57.3-128 128v224h-68c-17.7 0-32 14.3-32 32v384c0 17.7 14.3 32 32 32h640c17.7 0 32-14.3 32-32V496c0-17.7-14.3-32-32-32zM332 240c0-30.9 25.1-56 56-56h248c30.9 0 56 25.1 56 56v224H332V240zm460 600H232V536h560v304zM484 701v53c0 4.4 3.6 8 8 8h40c4.4 0 8-3.6 8-8v-53a48.01 48.01 0 1 0-56 0z"
                            ></path>
                          </svg>
                        </i>
                      </span>
                      <input
                        class="ant-input ant-input-lg"
                        type="password"
                        formControlName="password"
                        placeholder="Password"
                      />
                    </span>
                  </span>
                </div>
              </div>
            </div>
            <div class="ant-row ant-form-item btn-login-container">
              <div class="ant-col ant-form-item-control-wrapper">
                <div class="ant-form-item-control">
                  <span class="ant-form-item-children"
                    ><button
                      type="submit"
                      class="ant-btn btn-login ant-btn-primary ant-btn-lg ant-btn-block"
                    >
                      <span>Log In</span>
                    </button>
                  </span>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

