<h3 nz-title>Create Employee</h3>

<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <!-- Username -->
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="username" nzRequired>
        <span>
          Username
          <i
            nz-icon
            nz-tooltip
            nzTitle="Employee username"
            nzType="question-circle"
            nzTheme="outline"
          ></i>
        </span>
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input the username!">
        <input nz-input id="username" formControlName="username" />
      </nz-form-control>
    </nz-form-item>

    <!-- First Name -->
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="firstName" nzRequired>
        <span>
          First Name
        </span>
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input the first name!">
        <input nz-input id="firstName" formControlName="firstName" />
      </nz-form-control>
    </nz-form-item>

    <!-- Last Name -->
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="lastName" nzRequired>
        <span>
          Last Name
        </span>
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input the last name!">
        <input nz-input id="lastName" formControlName="lastName" />
      </nz-form-control>
    </nz-form-item>

    <!-- Email -->
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">E-mail</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
        <input nz-input formControlName="email" id="email" />
      </nz-form-control>
    </nz-form-item>

    <!-- Birth Date -->
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="birthDate" nzRequired>Birth Date</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input birth date!"
        [nzValidateStatus]="validateForm.controls['birthDate']"
      >
        <nz-date-picker formControlName="birthDate" id="birthDate" [(ngModel)]="birthDate" (ngModelChange)="onChange($event)" style="width: 100%;"></nz-date-picker>
      </nz-form-control>
    </nz-form-item>

    <!-- Basic Salary -->
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="basicSalary" nzRequired>Basic Salary</nz-form-label>
      <nz-form-control
        [nzSm]="14"
        [nzXs]="24"
        [nzValidateStatus]="validateForm.controls['basicSalary']"
        nzErrorTip="Please input the basic salary!"
      >
        <nz-input-group>
          <input type="number" formControlName="basicSalary" id="basicSalary" nz-input />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <!-- Status -->
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="status" nzRequired>Status</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input status!"
        [nzValidateStatus]="validateForm.controls['status']"
      >
        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a status" formControlName="status" id="status" [(ngModel)]="status">
          <nz-option nzLabel="Active" nzValue="active"></nz-option>
          <nz-option nzLabel="Inactive" nzValue="inactive"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <!-- Group -->
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="group" nzRequired>Group</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input group!"
        [nzValidateStatus]="validateForm.controls['group']"
      >
        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a group" formControlName="group" id="group" [(ngModel)]="group">
          <nz-option nzLabel="Board of Director" nzValue="bod"></nz-option>
          <nz-option nzLabel="Manager" nzValue="manager"></nz-option>
          <nz-option nzLabel="Supervisor" nzValue="spv"></nz-option>
          <nz-option nzLabel="Staff" nzValue="staff"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <!-- Description -->
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="description" nzRequired>Description</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input description!">
        <input nz-input id="description" formControlName="description" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-row class="register-area">
      <nz-form-control [nzSpan]="14" [nzOffset]="6">
        <button nz-button nzType="primary">Submit</button>
      </nz-form-control>
    </nz-form-item>
  </form>