  .search-box {
    display: flex;
  }

  .search-box input {
    width: 188px;
    margin-bottom: 8px;
    display: block;
    margin-right: 8px;
  }

  .search-box button {
    width: 90px;
    height: 32px;
  }

  .search-button {
    margin-right: 8px;
  }

  .ant-table-filter-dropdown {
    margin-left: 0 !important;
    margin-bottom: 1rem;
    padding: 12px;
    display: flex;
    justify-content: space-between;
  }

  .table-operations {
    margin-bottom: 0;
  }

  .table-operations > button {
    margin-right: 8px;
  }

  .header-container {
    display: flex;

    .sorter {
      margin-left: 4px;
      align-self: center;
    }
  }

  .pointer {
    cursor: pointer;
  }
  