<div class="ant-table-filter-dropdown">
  <div class="search-box">
    <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
    <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">Search</button>
    <button nz-button (click)="reset()">Reset</button>
  </div>
  <button nz-button nzSize="medium" nzType="primary" (click)="create()">Create</button>
</div>

<nz-table #nzTable [nzData]="listOfDisplayData" nzTableLayout="fixed">
  <thead>
    <tr>
      <th *ngFor="let column of listOfColumn">
        <div class="header-container pointer" (click)="sort(column.title)">
          <span>{{ column.title }}</span>
          <b class="sorter">↕</b>
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of listOfDisplayData">
      <td>{{ data.username }}</td>
      <td>{{ data.firstName }}</td>
      <td>{{ data.lastName }}</td>
      <td>{{ data.email }}</td>
      <td>{{ data.birthDate }}</td>
      <td>{{ formatCurrency(data.basicSalary) }}</td>
      <td>{{ data.status }}</td>
      <td>{{ data.group }}</td>
      <td>{{ data.description }}</td>
      <td>
        <a nz-popconfirm nzPopconfirmTitle="Sure to edit?" (nzOnConfirm)="editRow(data)" class="pointer">✏️</a>
        <a nz-popconfirm nzPopconfirmTitle="Sure to delete?" (nzOnConfirm)="deleteRow(data.id)" class="pointer">🗑️</a>
      </td>
    </tr>
  </tbody>
</nz-table>
