.dashboard-content {
  height: 100%;
}

.nav-right {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  -webkit-box-align: center;
  align-items: center;
  display: -webkit-box;
  display: flex;
  float: right;
  margin-right: 16px;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger-arrow {
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

nz-header {
  background: #fff;
  padding: 0;
  position: fixed; 
  width: -webkit-fill-available; 
  z-index: 10;
}

nz-content {
  margin: 0 16px;
  min-height: auto;
}

nz-breadcrumb {
  margin: 16px 0;
}

.inner-content {
  padding: 24px;
  background: #fff;
  min-height: 360px;
}

nz-footer {
  text-align: center;
}

