<nz-layout class="dashboard-content">
  <nz-sider [nzWidth]="250" nzCollapsible [nzBreakpoint]="'lg'" [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzTitle="Home" nzIcon="home">
        <ul>
          <li nz-menu-item nzMatchRouter><a routerLink="/dashboard/welcome">Welcome</a></li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Employee" nzIcon="user">
        <ul>
          <li nz-menu-item nzMatchRouter><a routerLink="/dashboard/employee/list">List</a></li>
          <li nz-menu-item nzMatchRouter><a routerLink="/dashboard/employee/create">Create</a></li>
        </ul>
      </li>
      <li (click)="logout()" nz-menu-item>
        <i nz-icon nzType="logout"></i>
        <span>Log Out</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <i
        class="trigger"
        nz-icon
        [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        (click)="isCollapsed = !isCollapsed"
      ></i>
      <i
        class="trigger-arrow"
        nz-icon
        nzType="arrow-left"
        (click)="back()"
      ></i>
      <ul class="nav-right">
        <li>
            <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
                <nz-avatar nzIcon="user"></nz-avatar>
              </a>
              <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu>
                  <li (click)="logout()" nz-menu-item>Log Out</li>
                </ul>
              </nz-dropdown-menu>
        </li>
      </ul>
    </nz-header>
    <nz-content>
      <nz-breadcrumb>
        <nz-breadcrumb-item>Home</nz-breadcrumb-item>
        <nz-breadcrumb-item>Welcome</nz-breadcrumb-item>
      </nz-breadcrumb>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer>Employee Management</nz-footer>
  </nz-layout>
</nz-layout>
